@use '../util' as *;

.top {
  overflow-x: hidden;
  min-height: rem(480);
  display: flex;
  align-items: center;
  margin-bottom: rem(30);

  @include breakpoint-down(small) {
    flex-direction: column;
  }

  &__left {
    height: rem(312);
    width: rem(445);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include breakpoint-down(small) {
      height: rem(286);
      width: rem(327);
    }

    &--title {
      margin-bottom: rem(0);

      @include breakpoint-down(small) {
        font-size: rem(48);
        line-height: rem(48);
      }
    }

    &--description {
      padding-right: rem(20);
      height: rem(78);
    }

    &--wrapper {
      display: flex;
      align-items: center;
      height: rem(58);

      .top__left--release {
        font-weight: 700;
        text-transform: uppercase;
        margin-left: rem(40);

        @include breakpoint-down(small) {
          margin-left: rem(20);
        }
      }
    }
  }

  &__right {
    min-height: rem(480);
    min-width: rem(540);
    margin-left: rem(125);
    background-image: url("../../../assets/desktop/image-keyboard.jpg");
    background-size: cover;
    border-radius: rem(20);

    @include breakpoint-down(medium) {
      min-height: rem(425);
      min-width: rem(478);
      margin-left: rem(69);
    }

    @include breakpoint-down(small) {
      margin-top: rem(64);
      min-height: rem(331);
      min-width: rem(372);
    }
  }
}
